<html>
<body>
<% sectionHeadingStyle = "font-size: 14px; font-weight: bold; padding-top: 8px; padding-bottom: 4px;font-style: italic; margin-top: 16px; margin-bottom: 6px; border-bottom: 1px solid; border-color: #000000;" %>

<% cellStyle = "font-size: 12px;"%>
<% columnHeadingStyle = "font-size: 12px;"%>

<div style="width: 600px; font-family: sans-serif; font-size: 12px; font-weight: normal; font-color: #000000;">

Howdy race fans,

<br clear="all"/><br clear="all"/>

<% nextRace = Race.nextRace %>

Here are the draft results for <%= nextRace.name %>!  <!-- Congratulations to XXXXX, the owner of last week's winner! -->

<br clear="all"/><br clear="all"/>

<% rank = 0 %>
<% sorted_members = @league.league_memberships.sort{|a,b| b.current_mini_chase_points <=> a.current_mini_chase_points}%>

<table width="600">
  <tr style="border-bottom: 1px solid; border-color: #000000;">
	<th width="5%" style="<%= columnHeadingStyle %>">&nbsp;</th>
    <th width="60%" align="left" style="<%= columnHeadingStyle %>">Owner</th>
	<th width="35%" align="left" style="<%= columnHeadingStyle %>">Stable</th>
  </tr>
  <% sorted_members.each do |member| %>
  <tr>
	<td style="<%= cellStyle %>"><%= rank = rank + 1 %>.</td>
    <td align="left" style="<%= cellStyle %>"><%= member.owner.name %></td>
    <td align="left" style="<%= cellStyle %>"><%= RaceStable.find_by_league_membership_id_and_race_id(member.id, nextRace.id).orderedCarNumbers.join(", ") %></td>
  </tr>
  <% end %>
</table>


</div>
</body>
</html>
