<div id="pageHeading">League Management</div>

<div id="sectionHeading">All-League Actions</div>

<%= form_tag({:action => "email_standings"}) do %>
<%= submit_tag 'Email Standings', :confirm => "Are you sure you want to email standings?" -%>
<% end %>

<p>
   <hr/>
<%= form_tag({:action => "email_everyone"}) do %>
<table>
   <tr>
      <td>Subject</td>
      <td><%= text_field_tag 'broadcast_subject', '', :size => 75 %></td>
   </tr>
   <tr>
      <td>Body</td>
      <td><%= text_area_tag 'broadcast_message', "Hey all,\n<p>Here's an important message\n<p>Let's go racing!", :rows => 4 %></td>
   </tr>
</table>

<%= submit_tag 'Email Everyone', :confirm => "Are you sure you want to send this email to all GFTL users?" -%>
<% end %>

<div id="sectionHeading">Active Leagues</div>

<table id="list">
  <tr>
    <th width="60%">Name</th>
    <th width="10%">Season</th>
    <th width="10%"># Members</th>
    <th width="20%">Open for registration?</th>
    <th colspan="3"></th>
  </tr>

<% rowtype = "evenrow"%>
<% @leagues.each do |league| %>
  <tr class="<%= rowtype %>">
    <td><%=h league.name %></td>
    <td><%=h league.year %></td>
    <td><%=h league.num_members %> / <%=h league.max_owners %></td>
    <td><%=h league.is_registration_open ? "Yes" : "No" %></td>
    <td><%= link_to show_icon, league %></td>
    <td><%= link_to edit_icon, edit_league_path(league) %></td>
    <td><%= link_to trash_icon, league, 
			:confirm => 'Are you sure you want to delete ' + league.name + "?", 
			:method => :delete %></td>
  </tr>
  <% rowtype = "oddrow" == rowtype ? "evenrow" : "oddrow" %>
<% end %>
</table>

<br />

<%= link_to 'Start a new league', new_league_path %>

