<h1>Editing league_membership</h1>

<%= form_for(@league_membership) do |f| %>
  <%= render "shared/error_messages", :target => @league_membership %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @league_membership %> |
<%= link_to 'Back', league_memberships_path %>