<div id="pageHeading">Editing Owner</div>

<%= form_for(@owner) do |f| %>
  <%= render "shared/error_messages", :target => @owner %> 

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @owner %> |
<%= link_to 'Back', owners_path %>