<div id="pageHeading">Edit Owned Stable</div>

<% %>

<%= form_for(@owned_stable) do |f| %>
  <%= render "shared/error_messages", :target => @owned_stable %> 

  <p>
  Editing the owned stable for membership: <%= @owned_stable.league_membership.toString %>
  </p>
  
  <p>
    <%= f.label :franchise_car_id %><br />
    <%= f.collection_select(:franchise_car_id, @cars, :id, :numberAndDriver)%>    
  </p>
  <p>
    <%= f.label :darkhorse_car_id %><br />
    <%= f.collection_select(:darkhorse_car_id, @cars, :id, :numberAndDriver)%>    
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', owned_stables_path %>