<div id="pageHeading">New Owned Stable</div>

<% @memberships = LeagueMembership.all.select{|m| m.league.year == Time.now.year} %>
<% @cars = Car.find_all_by_year(Time.now.year)%>

<%= form_for(@owned_stable) do |f| %>
  <%= render "shared/error_messages", :target => @owned_stable %> 

  <p>
	
    <%= f.label :league_membership_id %><br />
	<%= f.collection_select(:league_membership_id, @memberships, :id, :toString)%>
  </p>
  <p>
    <%= f.label :franchise_car_id %><br />
	<%= f.collection_select(:franchise_car_id, @cars, :id, :numberAndDriver)%>    
  </p>
  <p>
    <%= f.label :darkhorse_car_id %><br />
    <%= f.collection_select(:darkhorse_car_id, @cars, :id, :numberAndDriver)%>    
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', owned_stables_path %>