<div id="pageHeading">Draft Lists</div>

You create draft lists to specify your rank order preferences for certain cars.  These lists are used during the start-of-season draft for your stable of two fixed cars; the lists are also used for the weekly drafts of your 3rd, 4th, and 5th cars.  
<p>
You can have one or more draft lists.  Each owner who is a member of a league has an active draft list at all times.  This active list is the one (possibly among many) that will be used for that membership.  You may choose to have multiple draft lists to hold your preferences for different kinds of races (eg. road coarses vs. super speedways).
<p>

<% if @draft_lists.nil? || @draft_lists.empty? %>

You don't have a draft list yet. <%= link_to 'Create one now!', new_draft_list_path %>

<% else %>


<table id="list">
  <tr>
    <th width="25%">Name</th>
    <th width="30%">Ranked Cars</th>
    <th width="40%">Notes</th>
    <th colspan="2"></th>
  </tr>

<% rowtype = "evenrow"%>
<% @draft_lists.each do |list| %>
  <tr class="<%= rowtype %>">
    <td><%=h list.name %></td>
    <td><%=h list.ranked_car_numbers %></td>
    <td><%=h list.notes %></td>
    <td><%= link_to edit_icon, edit_draft_list_path(list) %></td>
    <td><%= link_to trash_icon, list, 
			:confirm => 'Are you sure you want to delete ' + list.name + "?", 
			:method => :delete %></td>
  </tr>
  <% rowtype = "oddrow" == rowtype ? "evenrow" : "oddrow" %>
<% end %>
</table>

<br />

<%= link_to 'Create a new draft list', new_draft_list_path %>

<% end %>