<h1>New race</h1>

<%= form_for(@race) do |f| %>
  <%= render "shared/error_messages", :target => @race %> 

 <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :track %><br />
    <%= f.collection_select(:track_id, Track.find(:all, :order => "name"), :id, :name) %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select(:racetime, :default => {:year => Time.now.year, :month => Time.now.month, :hour => '10', :minute => '00'}, :minute_step => 15) %> Eastern
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :rows => 8 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', races_path %>