<div id="pageHeading">Preseason Rankings</div>

Administrators: this list should reflect the preseason rankings for the year.  It shouldn't be changed after being set in the beginning.

<% num_rankings = @rankings.size %>
<% rankings_per_column = 10 %>
<% num_columns = (num_rankings.to_f / rankings_per_column).ceil %>
<% column_spacing = 7 %>
<% line_height = 1.3 %>



<style>

#rankings ol {
  list-style: none;
  margin: 0;
  padding: 10;
  float: left;
  width: <%= column_spacing*6 %>em;
}
 
#rankings li {
  padding: 0;
  margin-right: 3em;
  width: <%= column_spacing-3 %>em;
  float: left;
  line-height: <%= line_height %>em;
}

.handle:hover{cursor: move;}
 
<% 1.upto(num_columns) do |colnum| %>
.col<%= colnum %> {margin-left: <%= 3 + column_spacing*(colnum-1) %>em;}
<% end %>
 
.coltopper {margin-top: -<%= rankings_per_column * line_height %>em;}
</style>

<ol id="rankings">
	<% count = 0 %>
	<% @rankings.each do |p| %>
	    <% class_tag = "" %>
	    <% class_tag = "col#{(count/rankings_per_column).ceil+1}" %> 
	    <% class_tag = class_tag + " coltopper" if 0 != count && count % rankings_per_column == 0%>
		<% domid = "rank_#{p.id}"%>
	
      
      <li id="<%= domid %>" num="<%= p.id %>"><span class="handle"><%= p.car.number %></span></li>
      
     
		<% count = count+1 %>
	<% end %>
	<!-- write out br's for remaining empty rows to make ol height big enough -->
	<% next_row = count % rankings_per_column %>
	<% if 0 != next_row %>
		<% next_row.upto(rankings_per_column) do |r| %>
		<!--	<br/> -->
		<% end %>
	<% end %>
	
</ol>


<% content_for :javascript do %>
<%= javascript_tag do %>

$(document).ready(function(){
   
   // Sorting the list
   $('#rankings').sortable({
      axis: 'y',
      dropOnEmpty: false,
      handle: '.handle',
      cursor: 'crosshair',
      items: 'li',
      opacity: 0.4,
      scroll: true,
      update: function(){
         $.ajax({
            type: 'post',
            data: $('#rankings').sortable('serialize'),
            dataType: 'script',
            complete: function(request){
               $('#rankings').effect('highlight');
            },
            url: '/preseason_rankings/sort'
         });
      }
   });
   
});

<% end %>
<% end %>
