<% league = @active_membership.league %>
<% members = league.league_memberships.sort{|a,b| b.current_mini_chase_points <=> a.current_mini_chase_points} %>

<div id="pageHeading">League Details: <%= league.name %></div>



	
<div id="sectionHeading_no_under">Standings</div>

<table id="list" width="100%">
  <tr>
    <th width="40%">Owner</th>
	<th width="20%">1st Half Points</th>
    <th width="20%">2nd Half Points</th>
	<th width="20%">Chase Points</th>
  </tr>
  <% rowtype = "evenrow"%>
  <% members.each do |member| %>
  <tr class="<%= rowtype %>">
    <td><%= member.owner.name %></td>
    <td><%= member.firstHalfPoints %></td>
	<td><%= member.secondHalfPoints %></td>
	<td><%= member.chasePoints %></td>
  </tr>
  <% rowtype = "oddrow" == rowtype ? "evenrow" : "oddrow" %>
  <% end %>
</table>

<div id="sectionHeading_no_under">Stats</div>

<% stats = LeagueStats.new(league) %>

<table id="list" width="100%">
  <tr>
    <th width="" colspan=2>Standings</th>
    <th width="">Owner</th>
	 <th width="">Points<br/>(Chase)</th>
	 <th width="">Points<br/>(Week)</th>
	 <th width="">Avg/Week</th>
	 <th width="">Avg/Driver</th>
	 <th width="">Best Single<br/>Race Points</th>
	 <th width="">Worst Single<br/>Race Points</th>
	 <th width="">Start &amp; Park<br/>Awards</th>
  </tr>
  <% standing = 0 %>
  <% members.each do |member| %>
  <tr class="<%= cycle("evenrow", "oddrow") %>">
    <td><%= stats.standings[member.id] %>.</td>
    <% change = stats.standings_change[member.id] %>
    <% change_str = "%+d" % change %>
    <td><%= change != 0 ? "(#{change_str})" : ""%></td>
    <td><%= member.owner.user.first_name %></td>
    <td><%= stats.mini_chase_points[member.id] %></td>
	 <td><%= stats.last_week_points[member.id] %></td>
	 <td><%= stats.mini_chase_points[member.id]/stats.num_races %></td>
	 <td><%=stats.mini_chase_points[member.id]/stats.num_races/4 %></td>
	 <td <% if stats.id_with_highest_personal_best == member.id %>class="highlight_cell"<%end%>>
	    <%= stats.personal_bests[member.id] %></td>
    <td <% if stats.id_with_lowest_personal_best == member.id %>class="highlight_cell"<%end%>><%= stats.personal_worsts[member.id] %></td>
 	 <td><%= stats.park_and_stop_awards[member.id] %></td>
  </tr>
  <% end %>
</table>

<div id="sectionHeading_no_under">Owned Stables</div>

<table id="list" width="100%">
  <tr>
    <th width="40%">Owner</th>
	 <th width="30%">Franchise</th>
    <th width="30%">Dark Horse</th>
  </tr>
  <% rowtype = "evenrow"%>
  <% members.each do |member| %>
     <tr class="<%= rowtype %>">
        <td><%= member.owner.name %></td>
        <td><%= getFranchiseCarString(member,true) %></td>
	     <td><%= getDarkhorseCarString(member,true) %></td>
     </tr>
     <% rowtype = "oddrow" == rowtype ? "evenrow" : "oddrow" %>
  <% end %>
</table>

<div id="sectionHeading_no_under">Race Stables</div>

<br clear="all"/>

<% races = Race.racesUpThroughNextOne %>
<% @race_stables = RaceStable.all %>

<% if !@show_data_for_all_members %>

<%= render(:partial => 'race_stables/list',:object => @active_membership.race_stables.to_a)%>

<% else %>

<%= render(:partial => 'race_stables/list', :object => @active_membership.league.race_stables)%>

<% end %>

<br />