<% league = @active_membership.league %>
<% stats = LeagueStats.new(league) %>

<div id="pageHeading">League Details: <%= league.name %></div>
	
<div id="sectionHeading_no_under">Standings</div>

<table id="list" width="100%">
  <tr>
    <th width="40%">Owner</th>
	<th width="20%">1st Half Points</th>
    <th width="20%">2nd Half Points</th>
	<th width="20%">Chase Points</th>
  </tr>
  <% rowtype = "evenrow"%>
  <% stats.members.each do |member| %>
  <tr class="<%= rowtype %>">
    <td><%= member.owner.name %></td>
    <td><%= member.firstHalfPoints %></td>
	<td><%= member.secondHalfPoints %></td>
	<td><%= member.chasePoints %></td>
  </tr>
  <% rowtype = "oddrow" == rowtype ? "evenrow" : "oddrow" %>
  <% end %>
</table>

<div id="sectionHeading_no_under">Stats</div>

<% if Race.firstRaceOfYear(league.year).race_results.any? %>
<%= render :partial => 'league_stats', :locals => { :stats => stats } %>
<% else %>
  <p>Stats aren't available until after the first points of the year have been entered.</p>
<% end %>

<div id="sectionHeading_no_under">Owned Stables</div>

<table id="list" width="100%">
  <tr>
    <th width="40%">Owner</th>
	 <th width="30%">Franchise</th>
    <th width="30%">Dark Horse</th>
  </tr>
  <% rowtype = "evenrow"%>
  <% stats.members.each do |member| %>
     <tr class="<%= rowtype %>">
        <td><%= member.owner.name %></td>
        <td><%= getFranchiseCarString(member,true) %></td>
	     <td><%= getDarkhorseCarString(member,true) %></td>
     </tr>
     <% rowtype = "oddrow" == rowtype ? "evenrow" : "oddrow" %>
  <% end %>
</table>

<div id="sectionHeading_no_under">Race Stables</div>

<br clear="all"/>

<% races = Race.racesUpThroughNextOne %>
<% @race_stables = RaceStable.all %>

<% @race_stables = league.league_memberships.collect{|lm| lm.race_stables}.flatten %>

<% if !@show_data_for_all_members %>

<%= render(:partial => 'race_stables/list',:locals => {:stables => @race_stables})%>

<% else %>

<%= render(:partial => 'race_stables/list', :locals => {:stables => @race_stables})%>

<% end %>

<br />